/* .chart {
  height: 20px;
  margin: 20px 0;
} */

/* .buttonBlock {
  display: flex;
  flex-direction: column;
}

.buttonItem {
  margin: 20px;
  width: 250px;
  height: 30px;
}

.form {
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.input {
  margin: 10px;
}

.parent,
.child,
.item {
  margin: 20px;
  padding: 10px;
  outline: 1px solid blueviolet;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.li-item {
  width: 40px;
  margin: 5px;
  padding: 5px;
  border: 2px solid blue;
}

.li-item.active {
  background-color: yellow;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: 20;
  position: absolute;
  border-radius: 50%;
}
 */

/* .wrapper {
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; 
} 
  */


/* .home {
  margin: 10px;
  padding: 5px;
  border: 1px solid fuchsia;
}
 */

